<template>
  <div class="sendtutoring">
    <Nav/>
    <div>
      <div class="title__send">
        <p>Crear tutorías</p>
      </div>
      <div class="main__form__two">
        <form @submit.prevent="createTutoring({body: tutoring, token: token})">
          <div class="form__grid">
            <div>
              <div class="flex__date">
                <div class="focus">
                  <label for="" class="label">Fecha</label>
                  <input type="datetime-local" name="" id="" v-model="tutoring.date">
                </div>
              </div>
              <div class="focus">
                <label for="" class="label">Título</label>
                <input type="text" name="" id="" placeholder="Título" v-model="tutoring.topic">
              </div>
              <div class="focus">
                <label for="" class="label">Descripción</label>
                <input type="text" name="" id="" placeholder="Descripción" v-model="tutoring.description">
              </div>
              <div class="focus">
                <label for="" class="label">Materia</label>
                <input type="text" disabled :placeholder="result.name">
              </div>
            </div>
            <div>
              <label for="" class="label">Estudiantes</label>
              <div class="box">
                <label for="" class="student" v-for="item of result.students" v-bind:key="item._id">
                  <input type="checkbox" name="name" id="" v-bind:value="item._id" v-model="tutoring.assistants">
                  {{item.name}} {{item.lastname}}
                </label>
              </div>
            </div>
            <div>
              <div class="focus">
                <label for="" class="label">Software de comunicación</label>
                <select name="" id="" v-model="tutoring.software">
                  <option disabled value="">Software de comunicación</option>
                  <option value="Zoom">Zoom</option>
                  <option value="Microsoft Teams">Microsoft Teams</option>
                </select>
              </div>
              <div class="focus">
                <label for="" class="label">Tipo de tutoría</label>
                <select name="" id="" v-model="tutoring.type">
                  <option disabled value="">Tipo de tutoría</option>
                  <option value="Grupal">Grupal</option>
                  <option value="Individual">Individual</option>
                </select>
              </div>
              <div class="focus">
                <label for="" class="label">Medio de comunicación</label>
                <select name="" id="" v-model="tutoring.comunication">
                  <option disabled value="">Medio de comunicación</option>
                  <option value="Virtual">Virtual</option>
                  <option value="Presencial">Presencial</option>
                </select>
              </div>
              <div>
                <input type="submit" value="Enviar">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from '@/components/Nav.vue'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'SendTutoring',
  components: {
    Nav
  },
  data(){
    return{
      id: this.$route.params.id,
      result: [],
      tutoring: {
        date: '',
        topic: '',
        description: '',
        subject: this.$route.params.id,
        comunication: '',
        software: '',
        type: '',
        assistants: []
      }
    }
  },
  computed: {
    ...mapState(['token'])
  },
  methods: {
    ...mapActions(['getClass', 'getStudents', 'createTutoring']),
  },
  async created(){
    const response = await this.getStudents(this.id)
    this.result = response
  }
}
</script>

<style scoped>
.box::-webkit-scrollbar {
  width: 8px;
}
.box::-webkit-scrollbar-thumb {
  background: var(--color-gray-two);
  border-radius: 4px;
  height: 5px;
}
.box::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 4px;
}
.student{
  color: var(--color-gray);
  padding: 9px 0px;
}
.title__send{
  background-color: var(--color-white);
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 51px 35px 0px 35px;
}
.main__form__two{
  padding: 21px 35px 35px 35px;
}
.form__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  padding: 40px 30px 20px 30px;
}
.box{
  background-color: var(--bg-color);
  padding: 10px 20px;
  border-radius: 5px;
  height: 290px;
  overflow:auto;
  width: 320px;
}
.flex__date{
  display: flex;
}
label{
  display: block;
}
.focus:focus-within .label{
  color: var(--color-primary);
}
input[type="text"]{
  height: 45px;
  width: 320px;
  margin-bottom: 20px;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  font-family: 'Roboto', sans-serif;
}
input[type="datetime-local"]{
  height: 45px;
  width: 320px;
  margin-bottom: 20px;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  font-family: 'Roboto', sans-serif;
}
input[type="time"]{
  height: 45px;
  width: 90px;
  margin-bottom: 20px;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  font-family: 'Roboto', sans-serif;
}
input[type="submit"]{
  height: 50px;
  width: 342px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  letter-spacing: 0.5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin-top: 18px;
}
input[type]:focus, select:focus{
  border: 2px solid var(--color-primary);
  outline: 0 none;
}
select{
  height: 45px;
  width: 343px;
  margin-bottom: 20px;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  font-family: 'Roboto', sans-serif;
}
</style>