<template>
  <div class="tutoring">
    <Nav/>
    <div>
      <div class="title__tutoring">
        <p>Tutorías recibidas</p>
      </div>
      <div class="grid">
        <p class="grid__tutoria">Tutorías pendientes</p>
        <p class="grid__tutoria">Tutorías aceptadas</p>
        <p class="grid__tutoria">Tutorías rechazadas</p>
      </div>
      <div class="main__tuto">
        <article>
          <Pending/>
        </article>
        <article>
          <Acepted/>
        </article>
        <article>
          <Canceled/>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from '@/components/TeacherNav.vue'
import Pending from '@/components/TeacherPending.vue'
import Acepted from '@/components/TeacherAcepted.vue'
import Canceled from '@/components/TeacherCanceled.vue'

export default {
  name: 'TutoringTeacher',
  components: {
    Nav,
    Pending,
    Acepted,
    Canceled
  }
}
</script>

<style scoped>
.title__tutoring{
  background-color: var(--color-white);
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 51px 35px 0px 35px;
}
.grid__tutoria{
  background-color: var(--color-white);
  height: 50px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  justify-content: center;
  display: flex;
  align-items: center;
}
.grid, .main__tuto{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.grid{
  padding: 5px 35px 0px 35px;
}
.main__tuto{
  padding: 5px 35px 35px 35px;
}
</style>