<template>
  <div class="class">
    <div class="main__class" v-for="pending of result" :key="pending._id">
      <div class="main__flex">
        <div class="main__icon">
          <img src="@/assets/pending.svg" alt="Logotipo de clase">
        </div>
        <div class="main__data">
          <p class="main__materia">
            {{pending.subject.name}}
          </p>
          <p class="margin">
            <b>Paralelo: </b>{{pending.subject.class}}
          </p>
          <p class="margin">
            <b>Nombres: </b>{{(pending.subject.teacher.name).toUpperCase()}}
          </p>
          <p class="margin">
            <b>Apellidos: </b>{{(pending.subject.teacher.lastname).toUpperCase()}}
          </p>
          <p class="margin">
            <b>Tema: </b>{{pending.topic}}
          </p>
          <p class="margin">
            <b>Descripcion: </b>{{pending.description}}
          </p>
          <p class="margin">
            <b>Tipo: </b>{{pending.type}}
          </p>
          <p class="margin">
            <b>Estado: </b>{{pending.state}}
          </p>
        </div>
      </div>
      <div class="buttons">
        <a type="button" v-on:click="updateTutoring({ Id:pending._id, body: acepted, token: token })" class="main__tutoria">Aceptar</a>
        <a type="button" v-on:click="updateTutoring({ Id:pending._id, body: canceled, token: token })" class="main__tutoria">Rechazar</a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Pending',
  data(){
    return{
      acepted: {
        state: 'Aceptada'
      },
      canceled: {
        state: 'Rechazada'
      },
      result: []
    }
  },
  computed: {
    ...mapState(['token'])
  },
  methods: {
    ...mapActions(['recibidasPendientesEstudiantes', 'updateTutoring'])
  },
  async mounted(){
    const response = await this.recibidasPendientesEstudiantes(this.token)
    this.result = response
  }
}
</script>

<style scoped>
.main__class{
  background-color: var(--color-white);
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  margin-bottom: 18px;
}
.main__flex{
  display: flex;
  margin: 20px 10px 10px 10px;
}
.main__icon{
  width: 50px;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0px 10px 10px 10px;
  
}
.main__tutoria{
  padding: 20px 10px;
  display: block;
  background-color: var(--color-gray-three);
  text-align: center;
  text-decoration: none;
  color: var(--color-gray);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.main__tutoria:hover{
  background-color: var(--bg-color-two);
  color: var(--color-primary);
}
.main__materia{
  margin: 5px 0px 3px 0px;
}
.margin{
  margin: 0px 0px 2px 0px;
  color: var(--color-gray);
  font-size: 14px;
}
</style>