<template>
  <div class="send">
    <div class="main__class" v-for="pending of result" :key="pending._id">
      <div class="main__flex">
        <div class="main__icon">
          <img src="@/assets/pending.svg" alt="Logotipo de clase">
        </div>
        <div class="main__data">
          <p class="main__materia">
            {{pending.subject.name}}
          </p>
          <p class="margin">
            <b>Paralelo: </b>{{pending.subject.class}}
          </p>
          <p class="margin">
            <b>Nombres: </b>{{(pending.subject.teacher.name).toUpperCase()}}
          </p>
          <p class="margin">
            <b>Apellidos: </b>{{(pending.subject.teacher.lastname).toUpperCase()}}
          </p>
          <p class="margin">
            <b>Tema: </b>{{pending.topic}}
          </p>
          <p class="margin">
            <b>Descripcion: </b>{{pending.description}}
          </p>
          <p class="margin">
            <b>Tipo: </b>{{pending.type}}
          </p>
          <p class="margin">
            <b>Estado: </b>{{pending.state}}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'SendPending',
  data(){
    return{
      result: []
    }
  },
  computed: {
    ...mapState(['token'])
  },
  methods: {
    ...mapActions(['enviadasPendientes'])
  },
  async mounted(){
    const response = await this.enviadasPendientes(this.token)
    this.result = response
  }
}
</script>

<style scoped>
.main__class{
  background-color: var(--color-white);
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  margin-bottom: 18px;
}
.main__flex{
  display: flex;
  margin: 20px 10px 20px 10px;
}
.main__icon{
  width: 50px;
}
.main__materia{
  margin: 5px 0px 0px 0px;
}
.margin{
  margin: 0px 0px 2px 0px;
  color: var(--color-gray);
  font-size: 14px;
}
</style>