<template>
  <div class="nav">
    <header class="header">
      <nav class="header__main">
        <router-link tag="span" to="/p/inicio">
          <h1 class="header__title">Uleam</h1>
        </router-link>
        <ul>
          <li>
            <router-link tag="span" to="/p/tutorias/enviadas">
              <a href="" class="nav__enviadas">
                <img src="@/assets/create.svg" alt="Tutorias enviadas">
              </a>
            </router-link>
          </li>
          <li>
            <router-link tag="span" to="/p/tutorias/recibidas">
              <a href="" class="nav__recibidas">
                <img src="@/assets/return.svg" alt="Tutorias recibidas">
              </a>
            </router-link>
          </li>
          <li>
            <router-link tag="span" to="/p/usuario">
              <a href="" class="nav__cuenta">
                <img src="@/assets/account.svg" alt="Cuenta">
              </a>
            </router-link>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</template>

<script>
export default {
  name: 'TeacherNav'
}
</script>

<style scoped>
.header__main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  box-shadow: 0 3px 5px -6px var(--color-black);
  /* border-bottom: 1px solid #c8c6c4; */
  /* box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1); */
}
.header__title{
  font-size: 22px;
  font-weight: 500;
  color: var(--color-primary);
  cursor: pointer;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
}
a{
  text-decoration: none;
  color: var(--color-black);
  padding: 9px 15px; 
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:hover{
  background-color: var(--bg-color-two);
}
.nav__enviadas:hover::before{
  content: 'Tutorías enviadas';
  position: absolute;
  top: 70px;
  right: 170px;
  background-color: var(--color-gray-three);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-gray);
}
.nav__recibidas:hover::before{
  content: 'Tutorías recibidas';
  position: absolute;
  top: 70px;
  right: 100px;
  background-color: var(--color-gray-three);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-gray);
}
.nav__cuenta:hover::before{
  content: 'Cuenta';
  position: absolute;
  top: 70px;
  right: 30px;
  background-color: var(--color-gray-three);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-gray);
}
</style>